@mixin flexCenter($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
@mixin bgCenter($size: cover) {
  background-size: $size;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin queryMaxWidth($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin queryMinWidth($size) {
  @media (min-width: $size) {
    @content;
  }
}


@mixin withContainer() {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2.5rem;
  @include queryMaxWidth($queryMD) {
    padding: 1.5rem;
  }
}
