$color-primary: #f8ede3;
$color-secondary: #cccbbc;
$color-third: #9daa9c;
$color-thick: #708a84;
$color-thicker: #4a696e;
$color-thickest: #2f4858;
// $color-primary: #FDF7E4;
// $color-secondary: #FAEED1;
// $color-thick: #DED0B6;
// $color-thicker: #BBAB8C;

$color-theme-brown: #C4B59F;
$color-theme-brown-soft: #DED6CA;
$color-theme-gray: #d9d9d9;
$color-theme-gray-bold: #919191;
$color-theme-black: #4B524B;




$queryXL: 1920px;
$queryLG: 1200px;
$queryMD: 992px;
$querySM: 768px;
$queryXS: 576px;

$font-cn: "Noto Sans TC", sans-serif;
$font-en: "Kanit", sans-serif;
