$color-primary: #f8ede3;
$color-secondary: #cccbbc;
$color-third: #9daa9c;
$color-thick: #708a84;
$color-thicker: #4a696e;
$color-thickest: #2f4858;
// $color-primary: #FDF7E4;
// $color-secondary: #FAEED1;
// $color-thick: #DED0B6;
// $color-thicker: #BBAB8C;


$queryLG: 1200px;
$queryMD: 992px;
$querySM: 768px;
$queryXS: 576px;